.auth-container {
  display: flex;
  height: calc(100vh - 64px);
}

/* LEFT IMAGE */
.image-section {
  flex: 1;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT FORM AREA */
.form-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
}

/* CARD */
.login-card {
  width: 460px;
  padding: 48px 44px;
  border-radius: 18px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
  background: #ffffff;
}

/* TITLE */
.title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #1f2937;
}

/* INPUTS FULL WIDTH FIX */
mat-form-field {
  width: 100%;
  margin-bottom: 22px;
}

/* BUTTON */
.login-btn {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
  border-radius: 8px;
  background: linear-gradient(135deg, #4f46e5, #2563eb);
  color: #ffffff;
  box-shadow: 0 8px 16px rgba(37, 99, 235, 0.2);
  transition: background 0.3s ease;

}
.login-btn:hover {
  background: linear-gradient(135deg, #4338ca, #1e40af);
}


/* LINK */
.link {
  text-align: center;
  margin-top: 22px;
  font-size: 14px;
  color: #4b5563;
}

.link a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }

  .image-section {
    height: 260px;
  }

  .login-card {
    width: 92%;
    padding: 36px;
  }
}
