.upload-card {
  padding: 30px;
  text-align: center;
  border-radius: 18px;
}

.drop-box {
  border: 2px dashed #b0bec5;
  padding: 30px;
  border-radius: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.drop-box:hover {
  background: #f1f3f9;
  border-color: #3f51b5;
}

mat-icon {
  font-size: 40px;
  color: #3f51b5;
}
