mat-card {
  padding: 28px;
  border-radius: 18px;
}

.w-full {
  width: 100%;
}

.cost-info {
  margin: 12px 0;
  font-weight: 500;
}

.flex {
  display: flex;
  align-items: center;
}

.gap-2 {
  gap: 12px;
}
